

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 28vw !important;
  /* background: #002B5C; */
  background-color: #f7f7f7;
  /* color: #08ABD8; */
  color: #002B5C;
  text-align: center;
  padding: 20px 0;
}

.footer-text{
  margin-left: 8vw;
  width: 4vw;
  padding-bottom: 6px;
  border-bottom: 4px solid #002B5C;
  /* border-bottom: 4px solid #08ABD8; */
  font-size: 1.8vw !important;
  /* color: #08ABD8; */
  font-weight: bold;
  font-family: Roboto;
  color: #002B5C;
}

.icon{
  margin-left: 0.4vw;
  width: 20vw;
}



.links, .network, .footer-title{
  /* color: white; */
  list-style: none;
  color: #002B5C;

  font-weight: 500;
}

.items{
  margin-top: 2vw;
  font-size: 90%;
}

.items-0{
  margin-left: 4vw;
  margin-top: 1.9vw;
  width: 30vw;
  border-top: 2px solid #083C58;
  padding-top: 2vw;
}

li{
  margin-top: 1.2vw;
}

.li:hover{
  text-decoration: underline !important;
  cursor: pointer;
  text-underline-offset: 4px !important;
}


.footer-subtext{
  font-size: 120%;
  /* color: #CBF3FF; */
  margin-top: 1vw;
  display: block;
  font-weight: bold;
  color: #002B5C !important;

}

.footer-subtext:hover{
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
  text-decoration-skip: 60%;
}

.row-margin{
  top: 18%;
  height: 2vw !important;
  background: #002B5C;
  opacity: 0.9;
  /* background: #08ABD8 !important; */
}


@media screen and (max-width: 991px) and (orientation:portrait){
	/* === FOOTER ==*/
	.footer{
		height: 100vw !important;
	}

	.icon{
		width: 6.6vw;
	}

	.items-0{
		margin-left: 0vw;
		margin-top: 2.9vw;
		width: 100%;
		border-top: 2px solid #08ABD8;
		padding-top: 2vw;
		padding-right: 4vw;
	}

	.footer-subtext{
		font-size: 85%;
	}

	.footer-subtext img{
		widows: 4.0vw;
	}

	.links{
		display: none;
	}

	.footer-text{
		font-size: 5vw !important;
	}

	.network .items li {
		font-size: 4vw;
	}

	.network .items li img{
		width: 3vw !important;
		margin: 0px !important;
	}

	.network .footer-text{
		width: 10vw !important;
	}

	.last{
		margin-right: 2vw;
		padding-right: 2vw;
		width: 4vw !important;
	}
	.network .items li .last{
		width: 5vw !important;
	}

	.row-margin{
		top: 10%;
	}

}




