
.navbar-nav{
	margin-right: 10vw !important;
}

.nav-0{
  margin-right: 4vw !important;
}

.nav-item{
	margin: 0vw 0.7vw !important;
}

.active{
	background: #08abd8;
	color: white !important;
	font-weight: bold;
}

.nav-link{
	border-radius: 35px 35px;
	padding: 6px 12px !important;
	font-weight: bold;
	transition: .20s;
}

.nav-link:hover{
	background: #08abd8;
	color: white !important;
	font-weight: bold;
	transition: .50s;
}

.navbar-1{
	height: 6vw;
}
.navbar-0{
	background: #08abd8 !important;
	height: 3.4vw;
}

li{
  text-decoration: none !important;
}

li:hover{
  text-decoration: none !important;
}

.nav-text{
	color: white !important;
	font-size: 1.2vw;
  font-family: 'Roboto' !important;
	font-weight: bold;
}





