
.navbar-nav{
	margin-right: 12vw !important;
}

.nav-item{
	margin: 0vw 2vw !important;
}

.active{
	background: #08abd8;
	color: white !important;
	font-weight: bold;
}

.nav-link{
	border-radius: 35px 35px;
	padding: 6px 18px !important;
	font-weight: bold;
	transition: .20s;
}

.nav-link:hover{
	background: #08abd8;
	color: white !important;
	font-weight: bold;
	transition: .50s;
}

.navbar-1{
	height: 6vw;
}
.navbar-0{
	background: #08abd8 !important;
	height: 3.4vw;
}

.nav-text{
	color: white !important;
	font-size: 1.2vw;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
}
