
.bg-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.title-about{
  position: absolute;
  top: 6%;
  left: 10%;
  z-index: 10000;
  color: white;
  font-weight: bold;
  font-size: 4vw;
}
.line{
  z-index: 10000;
  position: absolute;
  top: 18%;
  left: 10%;
  background: white;
  width: 28%;
  height: 1.6%;
}

.p-about{
  text-align: justify;
  z-index: 10000;
  position: absolute;
  top: 30%;
  width: 70%;
  color: white;
  font-size: 1.3vw;
  left: 10%;
  backdrop-filter: blur(10px);
  font-weight: 300;
  padding: 10px 24px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)
}


.column{
  margin-top: 5vw;
}

.img-mision2{
  margin-top: -1.0vw;
  width: 30vw;
  height: 26vw;
  object-fit: cover;
  object-position: right bottom;
  /* filter: drop-shadow(0 0 0.rem #002B5C) ; */
  border-radius: 55px 55px;
}

.img-mision{
  margin-top: 1.4vw;
  width: 34vw;
  height: 26vw;
  object-fit: cover;
  object-position: right bottom;
  /* filter: drop-shadow(0 0 0.rem #002B5C) ; */
  border-radius: 55px 55px;
}

.line-sep{
  /* filter: drop-shadow(0 0 0.75rem #002B5C) ; */
filter: drop-shadow(30px 10px 8px #4444dd);
  position: absolute;
  margin-left: 1vw;
  width: 80%;
  height: 1%;
  top: 90%;
  left: 10%;
  background: #002B5C;
}

.column p, .column h2, .column b{
  color: #002B5C;
}


@media screen and (max-width: 991px) and (orientation:portrait){
  .title-about{
    top: 2%;
    font-size: 9vw;
  }

  .line{
    top: 6%;
    height: 4vw;
  }

  .p-about{
    width: 90%;
    top: 10%;
    left: 5%;
    font-size: 5vw;
    backdrop-filter: blur(30px);
  }

  .about-row{
    height: 330vw !important;
  }

  .column h2{
    font-weight: bold;
    font-size: 9vw;
  }

  .column p{
    font-size: 5vw;
  }

  .column b{
    font-size: 6vw;
    font-style: italic;
  }

  .rs1, .rs2{
    height: 260vw !important;
  }

  .rs3{
    height: 210vw !important;
  }

  .img-mision {
    width: 46vw;
    height: 48vw;
    object-fit: cover;
    margin-top: -30vw;
    margin-left: 22vw;
    object-position: right bottom;
    border-radius: 55px 55px;
  }

  .img-mision2 {
    width: 46vw;
    height: 48vw;
    object-fit: cover;
    margin-top: -10vw;
    margin-left: 22vw;
    object-position: right bottom;
    border-radius: 55px 55px;
  }

}
