




.col0{
    height: 35vw;
  margin-left: 12vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}



.row-contact{
  padding-top: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 4vw;
  height: 50vw !important;
}

.card-0{
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.card-0 h2{
  color: #08ABD8;
  font-weight: bold;
  font-size: 2.2vw;
}

.card-0 .form-group {
  margin-top: 2vw !important;
  font-weight: 200;
  font-size: 1.3vw;
}

.card-0 .form-group p{
  text-align: justify;
  width: 100%;

}

.icon{
  color: #08ABD8;
}


textarea{
  height: 14vw !important;
  border-radius: 8px !important;
}

.card-1{
  background: #08ABD8;
  color: white;
  height: 80%;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
}

.card-1 .form-control{
  border: 1px solid white;
  color: white !important;
  background: transparent;
  border-radius: 35px;
}

.form-control::placeholder{
  color: #B7E7F4;
}

.icon2{
  color: #08ABD8;
}

.btn-light{
  background: white !important;
  border-radius: 25px;
  margin-left: 0.2vw;
  color: #002B5C;
}

.btn-light:hover{
  color: white;
  background: #002B5C !important;
  border: solid 1px #002B5C !important;
}





._col0, ._col1{
  margin-top: 8vw;
}


._col0 h2{
  font-weight: bold;
  color: #002B5C;
}

.map{
  margin-top: 2vw;
  width: 100%;
  height: 80%;
  border-radius: 35px;
}

.qr-img{
  margin-top: 2vw;
  margin-left: 11.3vw;
}
._col0 h2{
  width: 64%;
}



@media screen and (max-width: 991px) and (orientation:portrait){
  .row-contact{
    height: 230vw !important;
  }

  .col0{
    width: 100%;
    margin: 0px;
    height: 105vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .col1{
    padding-left: 0px !important;
  }

  .form-group textarea{
    height: 28vw;
  }

  .card-0 h2{
    font-size: 6vw;
  }

  .card-0 p{
    font-size: 3.4vw;
  }

  .card-0 p a{
    margin-left: 0px;
  }
  .card-0 br{
    display: none;
  }

  .social-media{
    width: 78%;
    margin-left: 6vw;
  }
  .contenedor{
    margin-top: 4vw;
    width: 100% !important;
  }

  .card-1{
    border-radius: 8px;
    height: 90%;
  }

  .map{
    border-radius: 6px;
    height: 100%;
    width: 98%;
  }

  ._col1 br, ._col1 h3{
    display: none;
  }

  .qr-img{
    margin-top: 10vw;
    margin-left: 24vw;
    width: 40vw;
  }

  .card-0 a{
    margin-left: 0px;
  }
}




