@media screen and (max-width: 991px) and (orientation:portrait){

  .d-block{
    width: 90vw !important;
  }

  .info-slide{
    margin-top: 10vw;
    margin-left: 6vw !important;
  }

  .info-title{
    font-size: 6vw;
  }

  .info-slide .carousel-inner .carousel-item img{
    filter: none !important;
  }


  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .navbar-1 .container-fluid{
    background: white;
  }

  .navbar-0{
    height: 8vw !important;
  }
  .navbar-1{
    height: 15vw !important;
    padding: 0px !important;
    z-index: 1000;
  }

  .nav-text{
    top: 0%;
    height: 2vw;
    font-size: 3vw !important;
    margin-top: 0px !important;
  }

  .navbar{
    padding: 0 1rem;
  }

  .row{
    height: 130vw !important;
  }

  .title{
    font-size: 14vw;
    top: 6%;
  }

  .p-0{
    top: 22%;
    width: 80%;
    font-size: 4.4vw;
    font-weight: 200;
  }

  .btn-0{
    top: 81%;
    width: 36vw;
    height: 10vw;
    font-size: 4vw;
    padding-top: 2vw;
  }

  #navbarNav2{
    /* display: none; */
    height: 8vw;
  }

  .show .navbar-nav{
    background: white;
    width: 100%;
    z-index: 1000;
  }

  .nav-link.active{
    color: #002B5C !important ;
    color: #002B5C !important ;
  }

  .nav-link{
    background: transparent !important;
    color: #557192 !important;
    width: 40%;
  }


	.services{
		height: 280vw !important;
	}

	.test-tube{
		width: 92vw;
    margin-left: 4vw;
	}

	.btn-nosotros{
		margin-left: 26vw;
	}

	.img-background, .img-background2{
		display: none;
	}

	.upButton{
		width: 10vw !important;
		height: 10vw !important;
		padding: 0px !important;
	}


	.sub-row{
		height: 164vw !important;
	}

	.img-1{
		height: 24vw;
		width: 24vw;
	}

	.card-body a{
		margin-left: 24vw !important;
	}
	

	.t-1{
		font-size: 4.5vw;
	}

  .carousel-row{
		height: 120vw !important;
	}

	.carousel-item{
		height: 100%;
	}

	.carousel-item img{
		filter: brightness(60%);
		object-fit: cover;
	}




}
